* {
  margin: 0 auto;
  padding: 0;
  background-color: rgb(147, 149, 151);
}

header {
  margin: 0 0 30px 0;
}

i {
  font-size: 90pt;
}

h1 {
  font-size: 40pt;
}

.cards__card {
  width: 300px;
  height: 900px;
  margin: 50px 30px;
  list-style: none;
  float: left;
}

.cards__card--taking-picture {
  width: 450px;
  height: 900px;
  margin: 50px 30px;
  list-style: none;
  float: left;
}

.cards__title {
  margin: 20px 5px;
  float: left;
}

.cards__small-title-icon {
  float: left;
}

.cards__img {
  clear: left;
  margin: 0%;
  padding: 10%;
  background-color: rgb(102, 103, 171);
}
